<header>
  <h1>Welcome to Shine, <%= current_user.email %>
  </h1>
  <h2>
    We are using Rails <%= Rails.version %>
  </h2>
</header>
<section>
  <p>
    Future home of Shine's Dashboard
    <br/>
    By Fei
  </p>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
</section>
